<!doctype html>
<html>
  <head>
    <title>Linkgroups</title>
    <link rel="stylesheet" href="css/master.min.css">
    <script src="angular.js"></script>
  </head>
  <body ng-app="app">
    <div class="content" ng-controller="GroupController">
      <div class="groups">
        <div ng-repeat="group in groups track by $index" class="block"
          title="{{ group.count }} links">
          <div class="group {{ group.id === active ? 'active' : '' }}">
            <div class="name" ng-click="swap(group.id)">{{ group.title }}</div>
            <div class="delete">
              <img src="img/delete.png" alt="delete"
                ng-click="delete(group.id)" ng-if="group.id !== active">
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="group">
          <div class="delete">
            <img src="img/plus.png" alt="plus" class="delete"
              ng-click="add()">
          </div>
          <div class="name">
            <form ng-submit="add()">
              <input type="text" class="new" ng-model="new">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="app.js"></script>
</html>
